.complete-state-container {
    width: 400px;
    height: 100vh;
    margin-right: 50px;
}

.thank-you {
    color: #1b0728;
    font-weight: 600;
}

.confirmation-message {
    color: #827f86;
    font-size: 15px;
}

@media only screen and (max-width: 576px) {
    .complete-state-container {
        height: 550px;
        width: 350px;
        position: absolute;
        translate: 0 60px;
        margin-right: 0;
    }
}